.cart-body{
  padding-top:130px;
  /* min-height: 100%; */
  margin-bottom: 0px;
}

.cart-header{
  background-color: white;
  display: flex;
  width: 100%;
  height: 70px;
  position: fixed; 
  flex-direction: column;
  border: 1px solid black;
  padding-bottom: 20px;
}

.cart-sub-total h3{
  display: block;
  margin: 0px;
  width:300px;
}

.card-cart{
  margin-top: 90px;
  border: 1px solid black;
  padding-top: 20px;
  width: 100%;
  padding-left: 10px; 
  padding-right: 2rem;
  overflow-y:initial;
}

.box-btn{
    width: 22px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 22px;
    margin-top: -15px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: ridge;
    border-width:0.05rem;
    background-color:white;
    color:black;
    text-align: center;
    text-decoration: none;
    height: 20px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

.cart-sub-total{
    height: 50px;
    text-align: left;
    margin-left: 10px;
}

.quantity-details{
    padding-bottom: 2px;
    height: 40px;
}



.modals-container{
    padding: 1rem 1rem;
}

.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
  top:15%;
  left: 10%;
  right:10%;
  width: 80%;
  height: 50%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


.modal-button{
    height:40px;
    width: 120px;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 50px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor:grabbing;
  }

.checkout-details{
  width: 100%;
  text-align: left;
  grid-area: details;
  width:30%;
}

.checkout-form{
  grid-area: address;
}

.checkout-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:"details address address address" 
}